[Unit]
Description=PWM Fan Control
After=

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python /opt/fan_ctrl.py
Restart=always

[Install]
WantedBy=default.target
